$white: rgb(255, 255, 255);
$light-grey: rgb(240, 240, 240);
$medium-grey: rgb(140, 140, 140);
$dark-grey: rgb(60, 60, 60);
$black: rgb(10, 10, 10);

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px 0;
    background-color: $white;
}

* {
    font-family: "Inconsolata", monospace;
}

h1 {
    color: $black;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
}

nav {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a {
        color: $medium-grey;
        text-decoration: none;
        padding: 2px 0;
    }

    .divider {
        align-self: stretch;
        width: 1px;
        margin: 0 6px;
        background-color: $light-grey;
    }
}

main {
    padding: 20px 0;
    text-align: center;

    img {
        width: min(200px, calc(100vw - 40px));
        height: min(200px, calc(100vw - 40px));
        border-radius: 50%;
        object-fit: cover;
        overflow: hidden;
    }

    label {
        padding: 0 20px;
        color: $dark-grey;

        .dot {
            display: inline-block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            vertical-align: middle;
            margin: 0 8px;
            background-color: $medium-grey;
        }
    }

    .links {
        margin-top: 20px;

        a {
            color: $dark-grey;
            margin: 0 10px;
            font-size: 24px;
        }
    }
}

section {
    padding: 20px 0;
    border-top: 2px dashed $light-grey;
}

#about {
    div {
        width: min(600px, calc(100vw - 80px));
        padding: 20px;
        border-radius: 10px;
        border: 2px dashed $light-grey;
        margin: auto;
        color: $dark-grey;
    }
}

#education {
    .education-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .education {
            width: 320px;
            max-width: calc(100vw - 80px);
            padding: 20px;
            border-radius: 10px;
            border: 2px dashed $light-grey;
            margin: 20px;
            
            .descriptors {
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                .descriptor {
                    text-decoration: none;
                    padding: 4px 8px;
                    margin: 4px;
                    border-radius: 4px;
                    background-color: $light-grey;
                    color: $dark-grey;
                }
            }
        }
    }
}

#experience {
    display: flex;
    flex-direction: column;
    align-items: center;

    .experience {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: fit-content;
        
        .info {
            width: 600px;
            max-width: calc(100vw - 80px);
            padding: 20px;
            border-radius: 10px;
            border: 2px dashed $light-grey;
            margin: 20px;

            .descriptors {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                .descriptor {
                    text-decoration: none;
                    padding: 4px 8px;
                    margin: 4px;
                    border-radius: 4px;
                    background-color: $light-grey;
                    color: $dark-grey;
                }
            }

            .description {
                margin-top: 10px;
                color: $dark-grey;
            }
        }

        .carousel {
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 450px;
            max-width: calc(100vw - 80px);
            max-height: calc(0.75 * (100vw - 80px));
            margin: 20px;

            .images {
                flex: 1;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;

                img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .images::-webkit-scrollbar {
                display: none;
            }

            .controls {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                height: 30px;
                margin-top: 10px;

                .dot-focused {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin: 0 10px;
                    background-color: $dark-grey;
                }

                .dot-unfocused {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    margin: 0 10px;
                    background-color: $medium-grey;
                }
            }
        }
    }
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    .project {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        width: fit-content;

        h2 {
            a {
                text-decoration: none;
                margin-left: 8px;
                color: $medium-grey;
                font-size: 20px;
            }
        }
        
        .info {
            width: 600px;
            max-width: calc(100vw - 80px);
            padding: 20px;
            border-radius: 10px;
            border: 2px dashed $light-grey;
            margin: 20px;

            .descriptors {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                .descriptor {
                    text-decoration: none;
                    padding: 4px 8px;
                    margin: 4px;
                    border-radius: 4px;
                    background-color: $light-grey;
                    color: $dark-grey;
                }
            }

            .description {
                margin-top: 10px;
                color: $dark-grey;
            }
        }

        .carousel {
            display: flex;
            flex-direction: column;
            width: 600px;
            height: 450px;
            max-width: calc(100vw - 80px);
            max-height: calc(0.75 * (100vw - 80px));
            margin: 20px;

            .images {
                flex: 1;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;

                img {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .images::-webkit-scrollbar {
                display: none;
            }

            .controls {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                flex-wrap: nowrap;
                width: 100%;
                height: 30px;

                .dot-focused {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    margin: 0 10px;
                    background-color: $dark-grey;
                }

                .dot-unfocused {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    margin: 0 10px;
                    background-color: $medium-grey;
                }
            }
        }
    }
}

#skills {
    .skills-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .skill {
            width: 320px;
            max-width: calc(100vw - 80px);
            padding: 20px;
            border-radius: 10px;
            border: 2px dashed $light-grey;
            margin: 20px;
            
            .descriptors {
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;

                .descriptor {
                    text-decoration: none;
                    padding: 4px 8px;
                    margin: 4px;
                    border-radius: 4px;
                    background-color: $light-grey;
                    color: $dark-grey;
                }
            }
        }
    }
}

.resume {
    width: 425px;
    height: 550px;
    box-sizing: border-box;
    overflow: hidden;
}